<div class="container">
  <div class="titleBonos">
    <p>Bono de regalo</p>
    <mat-divider class="material-devider"></mat-divider>
  </div>
  <p class="textoBono">
    Bono válido únicamente para servicios y productos dentro de La Barbería
  </p>
  <p class="textoBono">** Bono no válido para Academia</p>

  <div class="divSelectBono">
    <p class="titleSelectBono">Valor del bono:</p>
    <mat-form-field appearance="fill">
      <mat-label>Elije una opción</mat-label>
      <mat-select [(value)]="valueSelect"> 
        <mat-option value="50000">$ 50,000</mat-option>
        <mat-option value="100000">$ 100,000</mat-option>
        <mat-option value="150000">$ 150,000</mat-option>
        <mat-option value="200000">$ 200,000</mat-option>
        <mat-option value="250000">$ 250,000</mat-option>
        <mat-option value="300000">$ 300,000</mat-option>
      </mat-select>
    </mat-form-field>
    <a class="btn btn-warning" (click)="createPdf()">Comprar</a>
  </div>
</div>
