<div class="container">
  <div class="titleBonos">
    <p>Bono de regalo</p>
    <mat-divider class="material-devider"></mat-divider>
  </div>
  <p class="textoBono">
    Bono válido únicamente para servicios y productos dentro de La Barbería
  </p>
  <p class="textoBono">** Bono no válido para Academia</p>

  <div class="divSelectBono">
    <p class="titleSelectBono">Valor del bono:</p>
    <mat-form-field appearance="fill">
      <mat-label>Elije una opción</mat-label>
      <mat-select>
        <mat-option value="option1">$ 50,000</mat-option>
        <mat-option value="option1">$ 100,000</mat-option>
        <mat-option value="option1">$ 150,000</mat-option>
        <mat-option value="option1">$ 200,000</mat-option>
        <mat-option value="option1">$ 250,000</mat-option>
        <mat-option value="option1">$ 300,000</mat-option>
      </mat-select>
    </mat-form-field>
    <a href="#" class="btn btn-warning">Comprar</a>
  </div>
</div>
