<div class="container">
  <img class="imageFondo" src="../../assets/images/maquine.png" alt="" />
  <div class="contTitle">
    <p class="titleCortes">Cortes</p>
    <mat-divider class="material-devider"></mat-divider>
    <div class="divTextoExplicativo"></div>
    <div class="divTextHorarios">
      <mat-card class="example-card">
        <mat-card-title>Horario de Atención</mat-card-title>
        <mat-card-content>
          Lunes a Viernes 8am - 8pm <br />
          Sabado 8am - 5pm <br />
          Domingos y Festivos 10am - 5pm
          <!-- <p>{{longText}}</p> -->
        </mat-card-content>
      </mat-card>
    </div>
  </div>

  <div class="contServicios">
    <div class="contServiciosIzq">
      <img class="iconCabello" src="../../assets/images/cabello.png" alt="" />
      <p class="titleServicio">Cabello</p>

      <mat-accordion class="example-headers-align" multi>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title> Corte </mat-panel-title>
            <mat-panel-description> 35K </mat-panel-description>
          </mat-expansion-panel-header>
          <p>Corte con maquina y tijera según preferencia, lavado y peinado.</p>
        </mat-expansion-panel>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title> Rapado </mat-panel-title>
            <mat-panel-description> 25k </mat-panel-description>
          </mat-expansion-panel-header>
          <p>Corte con maquina y tijera según preferencia, lavado y peinado.</p>
        </mat-expansion-panel>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title> Rasurado </mat-panel-title>
            <mat-panel-description> 25k </mat-panel-description>
          </mat-expansion-panel-header>
          <p>Corte con maquina y tijera según preferencia, lavado y peinado.</p>
        </mat-expansion-panel>
      </mat-accordion>
    </div>
    <div class="contServiciosDer">
      <img class="iconCabello" src="../../assets/images/cabello.png" alt="" />
      <p class="titleServicio">Barba</p>

      <mat-accordion class="example-headers-align" multi>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title> Arreglo de barba </mat-panel-title>
            <mat-panel-description> 35K </mat-panel-description>
          </mat-expansion-panel-header>
          <p>Corte con maquina y tijera según preferencia, lavado y peinado.</p>
        </mat-expansion-panel>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title> Delineado </mat-panel-title>
            <mat-panel-description> 25k </mat-panel-description>
          </mat-expansion-panel-header>
          <p>Corte con maquina y tijera según preferencia, lavado y peinado.</p>
        </mat-expansion-panel>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title> Tinte </mat-panel-title>
            <mat-panel-description> 25k </mat-panel-description>
          </mat-expansion-panel-header>
          <p>Corte con maquina y tijera según preferencia, lavado y peinado.</p>
        </mat-expansion-panel>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title> Rasurado </mat-panel-title>
            <mat-panel-description> 25k </mat-panel-description>
          </mat-expansion-panel-header>
          <p>Corte con maquina y tijera según preferencia, lavado y peinado.</p>
        </mat-expansion-panel>
      </mat-accordion>
    </div>
  </div>
</div>
<div class="divAgendar">
  <p class="titleAgenda">Agenda con tu barbero de confianza</p>

    <p class="textAgenda">
      Recuerda que todos nuestros servicios incluyen asesoramiento de imagen,
      una bebida y masaje capilar
    </p>
    <a class="btn btn-warning w-25 m-auto" href="https://wa.me/+573105441309" target="_blank">Agenda ya!</a>
</div>
