<footer class="bg-dark text-center text-white footer">
  
  <div class="text-center p-3 Copyright">
    <div> © Copyright:
    <a class="text-white" target="_blank" href="https://www.instagram.com/george_worldwide/">George Worldwide</a>
    @2022
  </div>
  <div>
    © Creado por:
    <a class="text-white" target="_blank" href="https://www.linkedin.com/in/andresalzateg/">A&G</a>
  </div>
  </div>

  <div class=" p-4 pb-0">
  
    <section class="mb-4">
      <!-- Facebook -->
      <a mdbRipple class="btn btn-outline-primary btn-floating m-1" href="https://web.facebook.com/jorge.meneses.9212" target="_blank" role="button">
        <i class="fab fa-facebook"></i>
      </a>

      <!-- Instagram -->
      <a mdbRipple class="btn btn-outline-primary btn-floating m-1" href="https://www.instagram.com/george_worldwide/" target="_blank" role="button"
        ><i class="fab fa-instagram"></i
      ></a>
      
      <!-- Youtube -->
      <a mdbRipple class="btn btn-outline-primary btn-floating m-1" href="https://www.youtube.com/channel/UC3eaEwkJ64ePsXsL1AmZpIA" target="_blank" role="button"
        ><i class="fab fa-youtube"></i
      ></a>
    </section>
  </div>
 
</footer>