.container {
  margin-top: 7em;
  flex-direction: column;
  margin-bottom: 5em;
  min-height: 60vh;

  .titleContacto {
    @extend %title;
    color: orange;

    .material-devider {
      border-top-color: #fff;
      width: 30%;
      margin: auto;
      margin-top: 0.7em;
    }
  }

  .divContacto {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    .divInfoContacto {
      padding: 2em;
      display: flex;
      flex-direction: column;
      color: #fff;
      width: 35%;

      .LogoInfo{
        width: 7em;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 2em;
      }

      .titleInfo{
        font-size: 1.2em;
        color: orange;
      }

      .titleBarber{
        font-size: 2em;
        margin-bottom: .5em;
      }

      .textInfo{
        margin-left: 1em;
        color: white;
      }
    }
    .mapa {
      color: #fff;
      height: 25em;
      background-color: red;
      margin: auto;
    }
  }
}

%title {
  margin-top: 2em;
  font-size: 4em;
  font-weight: bold;
  text-align: center;
  margin-bottom: 1em;
}
