<div class="container">
  <div class="titleContacto">
    <p>Contacto</p>
    <mat-divider class="material-devider"></mat-divider>
  </div>

  <div class="divContacto">
    <div class="divInfoContacto">
      <img class="LogoInfo" src="../../assets/images/G Logo.png" alt="">
      
      <p class="titleInfo titleBarber">Barberías </p>
      <p class="titleInfo">Copacabana: <span class="textInfo">(+57) 310 544 1309</span></p>
      <p class="titleInfo">Copacabana: <span class="textInfo">(+57) 310 544 1309</span></p>
      <p class="titleInfo">Copacabana: <span class="textInfo">(+57) 310 544 1309</span></p>

      <br>
      <p class="titleInfo titleBarber">Academia </p>
      <p class="titleInfo">Copacabana: <span class="textInfo">(+57) 310 544 1309</span></p>
      <p class="titleInfo">Copacabana: <span class="textInfo">(+57) 310 544 1309</span></p>
    </div>
   
 
    <div class="mapa">
        <google-map width="550px" height="350px" [center]="center" [zoom]="zoom">
        </google-map>
      </div>
    
  </div>
  
</div>