<div class="container">
    <div class="titleNuestroEquipo">
        <p>Nuestro Equipo</p>
        <mat-divider class="material-devider"></mat-divider>
    </div>
    <div class="divEquipo">
        <div class="cardIntegrante">
            <img class="imagenIntegrante" src="https://mdbcdn.b-cdn.net/img/new/slides/041.webp" alt="">
            <p class="titleIntegrante">Andres Alzate</p>
            <p class="titleCargo">Barbero Experto</p>
            <p class="textIntegrante">Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure quaerat expedita, nisi sequi, laboriosam necessitatibus corporis non libero recusandae cumque at temporibus quae consequatur atque incidunt provident vitae explicabo reprehenderit?</p>
        </div>
        <div class="cardIntegrante">
            <img class="imagenIntegrante" src="https://mdbcdn.b-cdn.net/img/new/slides/041.webp" alt="">
            <p class="titleIntegrante">Andres Alzate</p>
            <p class="titleCargo">Barbero Experto</p>
            <p class="textIntegrante">Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure quaerat expedita, nisi sequi, laboriosam necessitatibus corporis non libero recusandae cumque at temporibus quae consequatur atque incidunt provident vitae explicabo reprehenderit?</p>
        </div>
        <div class="cardIntegrante">
            <img class="imagenIntegrante" src="https://mdbcdn.b-cdn.net/img/new/slides/041.webp" alt="">
            <p class="titleIntegrante">Andres Alzate</p>
            <p class="titleCargo">Barbero Experto</p>
            <p class="textIntegrante">Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure quaerat expedita, nisi sequi, laboriosam necessitatibus corporis non libero recusandae cumque at temporibus quae consequatur atque incidunt provident vitae explicabo reprehenderit?</p>
        </div>
        <div class="cardIntegrante">
            <img class="imagenIntegrante" src="https://mdbcdn.b-cdn.net/img/new/slides/041.webp" alt="">
            <p class="titleIntegrante">Andres Alzate</p>
            <p class="titleCargo">Barbero Experto</p>
            <p class="textIntegrante">Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure quaerat expedita, nisi sequi, laboriosam necessitatibus corporis non libero recusandae cumque at temporibus quae consequatur atque incidunt provident vitae explicabo reprehenderit?</p>
        </div>
    </div>
    
</div>