<div class="container">
    <div class="titleAcademia">
        <p>Academia</p>
        <mat-divider class="material-devider"></mat-divider>
    </div>

    <div class="divAcademia">
        <div class="cardAcademia">
            <img class="imagenAcademia" src="https://mdbcdn.b-cdn.net/img/new/slides/045.webp" alt="">
            <p class="titleAcademia">Curso 1</p>
            <p class="titleDictado">Dictado por: <span class="titleDictadoInt">Andres Alzate</span></p>
            <p class="textAcademia">Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure quaerat expedita, nisi sequi, laboriosam necessitatibus corporis non libero recusandae cumque at temporibus quae consequatur atque incidunt provident vitae explicabo reprehenderit?</p>
        </div>
        <div class="cardAcademia">
            <img class="imagenAcademia" src="https://mdbcdn.b-cdn.net/img/new/slides/046.webp" alt="">
            <p class="titleAcademia">Curso 2</p>
            <p class="titleDictado">Dictado por: <span class="titleDictadoInt">Andres Alzate</span></p>
            <p class="textAcademia">Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure quaerat expedita, nisi sequi, laboriosam necessitatibus corporis non libero recusandae cumque at temporibus quae consequatur atque incidunt provident vitae explicabo reprehenderit?</p>
        </div>
        <div class="cardAcademia">
            <img class="imagenAcademia" src="https://mdbcdn.b-cdn.net/img/new/slides/047.webp" alt="">
            <p class="titleAcademia">Curso 3</p>
            <p class="titleDictado">Dictado por: <span class="titleDictadoInt">Andres Alzate</span></p>
            <p class="textAcademia">Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure quaerat expedita, nisi sequi, laboriosam necessitatibus corporis non libero recusandae cumque at temporibus quae consequatur atque incidunt provident vitae explicabo reprehenderit?</p>
        </div>
    </div>
</div>
