<!-- --------------------------------------------------------------
------------------- Imagen principal -----------------------------
---------------------------------------------------------------- -->

<a href="https://wa.me/+573105441309" class="float" target="_blank">
<i class="fa fa-whatsapp my-float"></i>
</a>

<div class="contPpal">
  <img
    class="imgBack"
    src="../../assets/images/background.png"
    alt="Background"
  />
</div>
<div class="contInicio">
  <div>
    <p class="titleBarber">George Barber</p>
  </div>
  <div>
    <a href="https://wa.me/+573105441309" target="_blank" class="button" >Reserva</a>
    <button class="button" routerLink="productos">Compra</button>
  </div>
</div>

<!-- --------------------------------------------------------------
------------------------- Quienes Somos ---------------------------
---------------------------------------------------------------- -->

<div class="divQuienesSomos">
  <div class="titleQuienesSomos">
    <p>Quienes Somos</p>
    <mat-divider class="material-devider"></mat-divider>
  </div>
  <div class="divTextoImagen">
    <p class="textoQuienesSomos">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Incidunt qui numquam nisi, amet ullam assumenda corporis corrupti ipsum accusantium! Incidunt, distinctio. Numquam error neque sequi possimus veritatis, maxime cumque molestias.</p>
    <img class="imagenQuienesSomos" src="https://mdbcdn.b-cdn.net/img/new/slides/045.webp" alt="">
  </div>
</div>


<!-- --------------------------------------------------------------
------------------------- Testimonios -----------------------------
---------------------------------------------------------------- -->


<div class="divTestimonio">
  <div class="titleTestimonio">
    <p>Estos son algunos testimonios de nuestros Clientes</p>
  </div>
  <mdb-carousel [interval]="5000">
    <mdb-carousel-item>
      <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="https://mdbcdn.b-cdn.net/img/new/slides/041.webp" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Andrés Alzate</h5>
          <p class="card-text">Los super recomiendo, me encantó la manera en que lo asesoran a uno y el profesionalismo.</p>
        </div>
      </div>
    </mdb-carousel-item>
    <mdb-carousel-item>
      <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="https://mdbcdn.b-cdn.net/img/new/slides/042.webp" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Andrés Alzate</h5>
          <p class="card-text">Los super recomiendo, me encantó la manera en que lo asesoran a uno y el profesionalismo.</p>
        </div>
      </div>
    </mdb-carousel-item>
    <mdb-carousel-item>
      <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="https://mdbcdn.b-cdn.net/img/new/slides/043.webp" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Andrés Alzate</h5>
          <p class="card-text">Los super recomiendo, me encantó la manera en que lo asesoran a uno y el profesionalismo.</p>
        </div>
      </div>
    </mdb-carousel-item>
  </mdb-carousel>
</div>